@tailwind base;
@tailwind components;
@tailwind utilities;

/* base style */
.sp {
  @apply py-20 max-md:py-10;
}
.eq {
  transition: 500ms cubic-bezier(0.25, 1, 0.5, 1);
}
/* typhography */

h1 {
  @apply lg:text-4xl max-md:text-3xl xl:text-7xl text-light font-semibold;
}

p {
  @apply text-left max-md:text-center text-light/50 w-4/5 max-md:w-full;
}



/* responsive  navigation*/
.mobile-navber-btn {
  @apply hidden bg-transparent cursor-pointer border-none max-lg:inline-block max-lg:z-[9999] max-lg:border;
}

.active .mobile-navber-icon {
  @apply max-lg:hidden max-lg:text-xl max-lg:absolute 
}

.mobile-navber-icon[name="close-outline"] {
  @apply hidden max-lg:text-xl max-lg:text-light ;
}


.close-outline {
  @apply hidden text-xl;
}
.active .close-outline {
  @apply max-lg:inline-block fixed top-8 right-6 border   text-light;
}

.swiper-pagination-bullet {
  background-color: #edf7f7 !important;
  padding: 10px  !important;
  cursor: pointer !important;

}

.swiper-pagination-bullet-active {
  background-color: blue !important;
}


/* model-items style*/
.item-model{
  @apply flex justify-between p-5 border gap-10 whitespace-normal
}

strong{
  font-size: medium;
  color: rgb(164, 164, 166);
}